{% extends "base.html" %}
{% block title %}Вхід{% endblock %}
{% block content %}
 <h1>Вхід</h1>
 {% if form.errors %}
 <p>Ваше ім’я користувача та пароль не вірні. Повторіть спробу.</p>
 {% else %}
 <p>Будь ласка заповніть наступну форму для входу. Якщо у вас немає облікового запису, його можна <a href="{% url "register" %}">створити</a></p>
 {% endif %}
 <div class="login-form">
 <form action="{% url 'login' %}" method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <input type="hidden" name="next" value="{{ next }}" />
 <p><input type="submit" value="Увійти"></p>
  <p><a href="{% url "password_reset" %}">Не вдається ввійти в обліковий запис?</a></p>
 </form>
 </div>
{% endblock %}