{% extends "base.html" %}
{% block title %}Скидання пароля {% endblock %}
{% block content %}
 <h1>Скидання пароля </h1>
 {% if validlink %}
 <p>Будь-ласка, введіть новий пароль два рази:</p>
 <form action="." method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Змінити пароль" /></p>
 </form>
 {% else %}
 <p> Посилання для скидання пароля було недійсним, можливо,
  тому, що воно вже використано. Запросіть нове скидання пароля.</p>
 {% endif %}
{% endblock %}